<%- include('../templates/partials/header', {bodyClass: 'home'}) %>

    <section id="hero" role="main" class="container">

      <div class="row align-items-center">
        
        <div class="col-md-6 col-sm-8">
          
          <div class="readability-normalize">

	          <h1>I build marketing sites for SAAS companies that turn traffic into <span class="accent">customers</span>.</h1>
	          <p>Together, we’ll design a SAAS signup flow for your product that your customers won’t be able to resist.</p>

	          <div class="link-container">
	          	
	          	<a href="/contact" class="btn btn-accent">Let's Talk</a>
                <a href="/process">See How It's Done&hellip;</a>

	          </div>

          </div>

          <!-- <div id="hero-image-alt" class="d-lg md-none"></div> -->

        </div>

        <!-- <div class="col-1 d-block d-lg-none"></div> -->

        <div class="col-md-6 col-sm-4">
        	
        	<div id="hero-flair-container" class="d-none d-md-block">

                <!-- <div class="overlays">

                    <div class="overlay1"></div>
                    <div class="overlay2"></div>

                </div> -->

                <img class="fg" src="./assets/img/arrow-overlay-10.png" />

        		<div class="filter"></div>
        		<div id="flares">

                    <div class="flair"></div>
                    <div class="flair"></div>
                    <div class="flair"></div>
                    <div class="flair"></div>
                    <div class="flair"></div>

        		</div>
        		<img class="bg" src="./assets/img/me-compressed-arrow-2.jpg" />

        	</div>

        </div>

      </div>

    </section><!-- /.#hero -->

    <section id="brands" role="main" class="container">

        <div class="row align-items-center">
        
            <div class="col-md-12">

                <div id="brands-container">
                    
                    <img class="brand-image" src="./assets/img/brands/biznews.png"/><img class="brand-image"  src="./assets/img/brands/safesend.jpg"/><img class="brand-image"  src="./assets/img/brands/cointree.png"/><img class="brand-image" src="./assets/img/brands/llc-university.png"/><img class="brand-image"  src="./assets/img/brands/reach-cambridge.jpg"/>

                </div>

            </div>

        </div>

    </section><!-- /.#brands -->


    <section id="process" role="main" class="container">

        <div class="row">
        
            <div class="col-md-12">

                <div class="section-title">
                    
                    <h2>My Process</h2>

                </div>

            </div>

        </div>

        <div class="row">
        
            <div class="col-md-6">

                <p>I’ll determine <strong>exactly</strong> what you want to achieve (and how to make that <span class="accent">resonate with your customers</span>), design the solution visually, build it out into something tangible, then monitor it over time and make iterative changes as needed.</p>

                <p>Yep &mdash; <em>it’s that simple.</em></p>

                <a href="/process" class="btn btn-gray">See My Full Process</a>

            </div>

            <div class="col-md-6">

                <!-- Discovery video (Wistia) -->
                <script src="https://fast.wistia.com/embed/medias/8sa5tcr0lb.jsonp" async></script><script src="https://fast.wistia.com/assets/external/E-v1.js" async></script><div class="wistia_responsive_padding" style="padding:62.5% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><div class="wistia_embed wistia_async_8sa5tcr0lb videoFoam=true" style="height:100%;position:relative;width:100%"><div class="wistia_swatch" style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;"><img src="https://fast.wistia.com/embed/medias/8sa5tcr0lb/swatch" style="filter:blur(5px);height:100%;object-fit:contain;width:100%;" alt="" aria-hidden="true" onload="this.parentNode.style.opacity=1;" /></div></div></div></div>

            </div>

        </div>

    </section><!-- /.#process -->

    <section id="case-studies" role="main" class="container">

        <div class="row">
        
            <div class="col-md-12">

                <div class="section-title">
                    
                    <h2>Recent Case Studies</h2>

                </div>

            </div>

        </div>

        <div class="row">
        
            <div class="col-md-12">

                <div class="archive-container">

                    <%- include('../components/case-study'); %><%- include('../components/case-study'); %><%- include('../components/case-study'); %><%- include('../components/case-study'); %>

                </div>

                <a href="/case-studies" class="btn btn-gray">See All Case Studies</a>

            </div>

        </div>

    </section><!-- /.#case-studies -->

    <section id="testimonials" class="container">

        <div class="row">
        
            <div class="col-md-12">

                <div class="section-title">
                    
                    <h2>Recent Testimonials</h2>

                </div>

            </div>

        </div>

        <div class="row">
        
            <div class="col-md-12">

                <div class="archive-container">

                    <%- include('../components/testimonial'); %><%- include('../components/testimonial'); %><%- include('../components/testimonial'); %>

                </div>

                <a href="/process" class="btn btn-gray">Read All Testimonials</a>

            </div>

        </div>

    </section><!-- /.#testimonials -->

<%- include('../templates/partials/footer', {includeContactWidget : true}); %>